<body>
  <form class="row row-cols-lg-auto g-3 align-items-center" action="/user/create-interview" method="post">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-text">Company Name</div>
        <input type="text" name="company" class="form-control" id="inlineFormInputGroupUsername" placeholder="name"
          required />
      </div>
    </div>

    <div class="col-12">
      <div class="input-group">
        <div class="input-group-text">Date</div>
        <input type="date" name="date" class="form-control" required />
      </div>
    </div>

    <div class="col-12">
      <select name="studentId">
      <option value="">Select a student</option>
      <% students.forEach(function(student) { %>
        <option value="<%= student._id %>">
          <%= student.name %>
        </option>
        <% }) %>
    </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</body>