<link rel="stylesheet" href="/css/sign_in.css">
<body>
    <div>
        <form action="/create-session" method="post">
            <input type="email" name="email" required placeholder="Enter your email address">
            <input type="password" name="password" required placeholder="Enter your password">
            <button type="submit">Log in</button>
        </form>
    </div>
</body>